.AddUsers {
  width: 80%;
}

.modalInput {
  width: 100%;
  padding: 9px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-siziUploang: border-box;
  font-size: 14px;
}


.modalSubmit:hover {
  background-color: #2a90a2;
}

.modalSubmit {
  width: 100%;
  background-color: #33a2b5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modalOpenBtn {
  background-color: #33a2b5;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 6px;
  font-style: italic;
  font-weight: 700;
  font-size: medium;
  position: absolute;
  right: 8%;
  margin-top: 2px;
  cursor: pointer;


}


.modalOpenBtn:hover {
  background-color: #2a90a2;
}

.addUsers {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
  margin: auto;

}

.form {
  top: 135px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  padding: 35px;
  width: 340px;
  position: absolute;
  border-radius: 15px;
  height: 370px;
}

.addUserHeading {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #33a2b5;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 5%);
  color: white;
  font-size: 25px;
  font-style: italic;
}

.css-gt9i7n-MuiPaper-root-MuiAlert-root .MuiAlert-icon {
  color: #fff !important;

}


@media screen and (min-width: 1200px) {
  .form {
    left: 46%;
  }

  .css-1wnsr1i {
    left: 60% !important;
  }

  .css-1xlcwcm {
    left: 60% !important;

  }

  .MuiBox-root .css-a6nvm0 {
    left: 60% !important;
  }
}


.css-16rnlj6-MuiButtonBase-root-MuiButton-root {
  background-color: #33A2B5 !important;
}

.css-krf6xu-MuiButtonBase-root-MuiButton-root:hover {
color: white !important;
}

@media screen and (max-width: 1100px) {
  .mediaText {
    float: left;
  }
}


@media screen and (min-width: 480px) {
  .mediaText {
    float: right;
  position: relative;
  top: -110px;
  }
}
